<div id="<%= dom_id prize %>">
  <p>
    <strong>Name:</strong>
    <%= prize.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= prize.description %>
  </p>

  <p>
    <strong>Win payout:</strong>
    <%= prize.win_payout %>
  </p>

  <p>
    <strong>Lose payout:</strong>
    <%= prize.lose_payout %>
  </p>

  <p>
    <strong>Activation status:</strong>
    <%= prize.activation_status %>
  </p>

</div>
